[user]
	email = gabriel.margolis@datadoghq.com
	name = Gabriel Margolis
[url "git@github.com:"]
	insteadOf = https://github.com/
	insteadOf = git://github.com/
[include]
	path = /Users/gabriel.margolis/.config/gitsign/gitconfig
[core]
	hooksPath = /usr/local/dd/global_hooks
   	# tells git to start a daemon listening for file changes. This means that commands like
   	# git status won't need to scan the whole repo to see what has changed  
  	fsmonitor = true

  	# tells git to cache files which are untracked by using mtime (which is sporadically supported by different filesystems)
   	# this is generally fine at Datadog.  
  	untrackedcache = true
  
  	# usually git rebuilds a graph of commits on the fly when running
  	# git-log. This setting tells git to cache the commitgraph on disk to speed
  	# up subsequent git-log operations
  	commitgraph = true
[maintenance]
	repo = /Users/gabriel.margolis/go/src/github.com/DataDog/dd-source
[push]
	autoSetupRemote = true
[merge]
	conflictStyle = zdiff3
[interactive]
        diffFilter = delta --color-only
[gc]
	auto = 0
[commit]
	gpgsign = true
[pack]
	threads = 6
[fetch]
	prune = true
[feature]
	manyFiles = true